#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

export DEB_SOURCE
export DEB_VERSION_UPSTREAM

%:
	dh $@

override_dh_auto_build:
	# Sources are built by DKMS on the target system.

override_dh_auto_install:
	# Installation handled by dh_dkms + *.install

override_dh_dkms:
	dh_dkms -pep800-dkms -V $(DEB_VERSION_UPSTREAM)
